body {
  background-color: #d3c1ad;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  background-color: #4e3427;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 10px;
  outline: 0;
  margin: 20px;
  transition: all .5 ease-in-out;
}

.button-active {
  background-color: red;
}

img {
  display: none;
  max-width: 300px;
  margin: 10px;
}

.display-block {
  display: block;
}